body {
    background-color: lightblue;
}

#logo_image {
    width: 300px;
    height: 150px;
}

#welcomeBanner {
    width: 500px;
    height: 150px;
]

#productpic1 {
    width: 200px;
    height: 200px;
]

#productpic2 {
    width: 200px;
    height: 150px;
]

#productpic3 {
	width: 200px;
	height: 150px;
]

#productpic4 {
	width: 200px;
	height: 150px;
]

#productpic5 {
	width: 200px;
	height: 150px;
]

#productpic6 {
	width: 200px;
	height: 150px;
]
#productpic7 {
	width: 200px;
	height: 150px;
]

#productpic8 {
	width: 200px;
	height: 150px;
]
#productpic9 {
	width: 200px;
	height: 150px;
]

#productpic10 {
	width: 200px;
	height: 150px;
]
#productpic11 {
	width: 200px;
	height: 150px;
]

#productpic12 {
	width: 200px;
	height: 150px;
]


