body {
    background-color: lightblue;
}

#logo_image {
    width: 250px;
    height: 250px;
}

body {
	width: 1000px;
	height: 400px;
}

#header{
	height:250px;
	width: 1000px;
}

#logo{
	width: 250px;
	height: 250px;
	margin-left: 50px;
	margin-right: 150px;
	float: left;
}

#welcomeBanner{
	width: 550px;
	height: 250px;	
	float: right;
	text-align: center;
	vertical-align: middle;
	line-height: 250px;
	background-color : red;	
}

#mainContent{
}
#navigationMenu{
	margin-top: 100px;
	width: 250px;
	height: 2000px;
	margin-left:50px;
	margin-right:15px;
	float:left;
}
 li{
	font-size:40px;
	margin: 0 0 30px 0;
	list-style-type: none;
	background-color : red;
}

#productList{
	margin-top: 100px;
	width:550px;
	height:2000px;
	margin-left:50px;
	margin-right:15px;
	float:right;
}

#footer {	
	clear:both;
	position:relative;
	z-index: 10;
	height:3em;
	margin-top:-3em;
}


