body {
    background-color: lightblue;
}

#logo_image {
    width: 250px;
    height: 250px;
}

body {
	width: 1000px;
}

#header{
	height:250px;
	width: 1000px;
}

#logo{
	width: 250px;
	height: 250px;
	margin-left: 50px;
	margin-right: 150px;
	float: left;
}

#welcomeBanner{
	width: 550px;
	height: 250px;	
	float: right;
	text-align: center;
	vertical-align: middle;
	line-height: 250px;
	background-color : red;	
}
#productpic1 {
    width: 200px;
    height: 200px;
]

#productpic2 {
    width: 200px;
    height: 150px;
]

#productpic3 {
	width: 200px;
	height: 150px;
]

#productpic4 {
	width: 200px;
	height: 150px;
]

#productpic5 {
	width: 200px;
	height: 150px;
]

#productpic6 {
	width: 200px;
	height: 150px;
]
#productpic7 {
	width: 200px;
	height: 150px;
]

#productpic8 {
	width: 200px;
	height: 150px;
]
#productpic9 {
	width: 200px;
	height: 150px;
]

#productpic10 {
	width: 200px;
	height: 150px;
]
#productpic11 {
	width: 200px;
	height: 150px;
]

#productpic12 {
	width: 200px;
	height: 150px;
]


